<div
  class="w-2/3 mx-auto bg-white shadow-md rounded-xl p-6 border border-gray-200"
>
  <h2 class="text-center text-2xl font-serif font-semibold text-[#762124] mb-6">
    {{ title() }}
  </h2>

  @if (!personData()) {
  <app-error-card
    [error]="{
      title: 'Σφάλμα!',
      description: 'Δεν βρέθηκε καταχωρημένο άτομο με το ζητούμενο uuid.'
    }"
  ></app-error-card>
  }
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-base text-gray-800">
    <div class="flex flex-col">
      <span class="font-semibold text-[#762124]">UUID</span>
      <span>{{ personData()?.uuid }}</span>
    </div>
    @for (field of personFields; track field.labelId) {
    <div class="flex flex-col">
      <span class="font-semibold text-[#762124]">{{ field.text }}</span>
      <span>{{ getPersonDetailsField(field.labelId) }}</span>
    </div>
    }
    <div class="flex flex-col">
      <span class="font-semibold text-[#762124]">Πόλη</span>
      @for (city of cities(); track city.id) { @if (personData()?.cityId
      ==city.id) {
      <span>{{ city.name }}</span>
      } }
    </div>
  </div>
  <div class="flex items-center justify-center mt-6">
    <app-back-button (clickedBackwards)="onclickBackwards()"></app-back-button>
  </div>
</div>
