@if (isLoading()) {
<app-loading-spinner></app-loading-spinner>
}
<div class="w-full md:w-[500px] md:mx-auto rounded-md p-4">
  <div class="h-16 text-center mt-5 text-3xl font-thin">
    <span class="block">Φόρμα Εγγραφής Νέου Χρήστη</span>
  </div>
  @if (error()) {
  <app-error-card
    [error]="{ title: 'Σφάλμα!', description: error() }"
  ></app-error-card>
  }
  <form [formGroup]="form" class="p-4">
    <app-form-control
      [inputInfo]="{ labelId: 'email', text: 'Email' }"
      [errorInField]="getErrors(form, 'email')"
    >
      <div class="flex items-center gap-x-3">
        <span class="text-stone-400"><i class="fa-solid fa-user"></i></span>
        <input
          class="grow h-10 p-2 text-sm placeholder:font-sans placeholder:text-sm focus:outline-none focus:ring focus:ring-inset-2 focus:ring-[#762124]"
          id="email"
          formControlName="email"
          type="email"
          placeholder="Εισάγετε το email σας"
        />
      </div>
    </app-form-control>

    <app-form-control
      [inputInfo]="{ labelId: 'password', text: 'Password' }"
      [errorInField]="getErrors(form, 'password')"
    >
      <div class="flex items-center gap-x-2">
        <span
          class="tooltip relative inline-block cursor-pointer text-base ml-1 text-[#762124] group"
          tabindex="0"
        >
          ⓘ
          <span
            class="tooltip-text invisible w-[220px] bg-[#333] text-white text-left rounded-sm p-2.5 absolute z-1 top-full left-0 mt-1 text-sm/6 group-hover:visible"
          >
            Ο κωδικός πρέπει να περιλαμβάνει τουλάχιστον:
            <ul>
              <li>Οκτώ χαρακτήρες</li>
              <li>Ένα κεφαλαίο γράμμα</li>
              <li>Ένα πεζό γράμμα</li>
              <li>Έναν αριθμό</li>
              <li>Έναν ειδικό χαρακτήρα</li>
            </ul>
          </span>
        </span>
        <span class="text-stone-400"><i class="fa-solid fa-lock"></i></span>
        <input
          class="grow h-10 p-2 text-sm placeholder:font-sans placeholder:text-sm focus:outline-none focus:ring focus:ring-inset-2 focus:ring-[#762124]"
          id="password"
          formControlName="password"
          type="password"
          placeholder="Εισάγετε τον κωδικό σας"
        />
      </div>
    </app-form-control>

    <app-form-control
      [inputInfo]="{ labelId: 'confirmPassword', text: 'Επιβεβαίωση Κωδικού' }"
      [errorInField]="getErrors(form, 'confirmPassword')"
    >
      <div class="flex items-center gap-x-2">
        <span class="text-stone-400"><i class="fa-solid fa-lock"></i></span>
        <input
          class="grow h-10 p-2 text-sm placeholder:font-sans placeholder:text-sm focus:outline-none focus:ring focus:ring-inset-2 focus:ring-[#762124]"
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          placeholder="Επιβεβαιώστε τον κωδικό σας"
        />
      </div>
    </app-form-control>

    <button
      (click)="onRegisterUser()"
      type="submit"
      class="w-full h-9 border rounded-xl text-white text-sm font-thin bg-[#762124] hover:bg-[#5c1a1a] mt-5 cursor-pointer disabled:cursor-not-allowed"
      [disabled]="form.invalid"
    >
      Εγγραφή
    </button>
  </form>

  <div class="text-center">
    <span class="text-base pe-1">Επιστροφή στην</span>
    <a
      class="text-base text-[#762124] hover:text-[#5c1a1a] hover:underline"
      [routerLink]="['../', 'login']"
    >
      Σύνδεση
    </a>
  </div>
</div>
