<nav class="text-lg">
  <ul class="flex flex-col mt-[30px] ps-5 gap-y-2">
    <li class="text-yellow-400">Αρχική</li>
    <li class="text-white">
      Μητρώο Εκπαιδευτών
      <ul class="ps-3 text-base">
        <li>
          <a class="hover:text-yellow-400 block" href="">Προβολή Εκπαιδευτών</a>
        </li>
        <li>
          <a class="hover:text-yellow-400 block" href="">Εισαγωγή Εκπαιδευτή</a>
        </li>
      </ul>
    </li>
    <li class="text-white">
      Μητρώο Μαθητών
      <ul class="ps-3 text-base">
        <li>
          <a class="hover:text-yellow-400 block" href="">Προβολή Μαθητών</a>
        </li>
        <li>
          <a class="hover:text-yellow-400 block" href="">Εισαγωγή Μαθητή</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
